.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.form__container {
  display: flex;
  flex-direction: row;
  width: 60%;
  height: 60%;
  padding: 1rem 0 1rem 1rem;
  background-color: var(--white);
  border-radius: 15px;

  .aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
    max-width: 250px;
    height: 100%;
    padding: 1.5rem 2rem;
    background-image: url("../assets/bg-sidebar-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;

    div {
      display: flex;

      .circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        border: 1px solid var(--light-blue);
        border-radius: 50%;
        font-size: 1rem;
        font-weight: 700;
        color: var(--light-blue);
        margin: 0 1rem 2rem 0;
      }

      .info {
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        letter-spacing: 1px;

        h1 {
          font-size: .8rem;
          font-weight: 400;
          letter-spacing: -1px;
          color: var(--cool-gray);
          margin-bottom: 0.1rem;
        }

        p {
          font-weight: 700;
          color: var(--light-gray);
          font-size: .9rem;
        }
      }

      .active {
        background-color: var(--light-blue);
        color: var(--marine-blue);
      }
    }
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 2rem;

    .page__body {
      width: 100%;
      height: 80%;
      padding: 0 5rem;
    }

    .footer {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 100%;
      height: 20%;
      padding: 1rem 5rem;


      .button-next {
        padding: 0.8rem 1.2rem;
        border-radius: 5px;
        border: none;
        background-color: var(--marine-blue);
        color: var(--white);
        font-size: 1rem;

        &:hover {
          cursor: grab;
        }
      }
    }
  }
}